@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d273b;
  font-weight: 300;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.container1 {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}

h1 {
  font-size: 50px;
}

/* header */
header::before {
  content: "";
  display: block;
  margin-bottom: 80px;
}
nav {
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: ease-in-out 0.5s;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: 0 40px;
}
.nav .logo {
  height: 80px;
}
.nav .logo img {
  height: 100%;
  vertical-align: top;
}

.enlaces-header {
  font-weight: 300;
  transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
  color: #5d6678;
  text-decoration: none;
  margin-left: 20px;
}

.hamburguer {
  height: 80px;
  width: 80px;
  display: none;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  /* transition: color 0.5 ease-in; */
}

.hamburguer i {
  font-size: 30px;
  line-height: 80px;
}

.content-header {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-header img {
  width: 550px;
  animation: ease-in animate 1s;
}

.content-header p {
  font-weight: 100;
  margin-top: 14px;
  color: #5d6678;
}

.content-header a {
  display: inline-block;
  margin: 28px 0 0 0;
  width: 130px;
  background: #e03e52;
  text-align: center;
  padding: 12px 0;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 8px 32px rgba(224, 62, 82, 0.46);
  border-radius: 5px;
}

@keyframes animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.text-header {
  margin: 0 0 0 30px;
}
.title {
  font-size: 50px;
}

/* about-us */

.about-us {
  background-color: #f2f2f2;
}

.container-article {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-around;
}

.article {
  width: 29%;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 45px 30px 60px 30px;
}

.article:hover {
  box-shadow: 0 4px 10px rgba(10, 29, 48, 0.26);
}

.article i {
  font-size: 30px;
  color: #fff;
  background: #e03e52;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  padding-top: 15px;
  box-shadow: 0 8px 32px rgba(224, 62, 82, 0.46);
}

.article h3 {
  font-size: 24px;
  margin-top: 30px;
}

.article p {
  font-weight: 100;
  color: #5d6678;
  margin-top: 15px;
  padding-bottom: 20px;
}

.article a {
  color: #5d6678;
  font-weight: 400;
  text-decoration: none;
}

.article a i {
  font-size: 15px;
  background: transparent;
  color: #5d6678;
  box-shadow: none;
  text-align: center;
}

.article a i:hover {
  color: #e03e52;
  transition: color 0.5s;
}
.article a:hover {
  color: #e03e52;
  transition: color 0.5s;
}

/* question */

.question {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question img {
  width: 550px;
}

.text-question p {
  font-weight: 100;
  margin-top: 14px;
  color: #5d6678;
}

.text-question a {
  display: inline-block;
  margin: 28px 0 0 0;
  width: 130px;
  background: #e03e52;
  text-align: center;
  padding: 12px 0;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 8px 32px rgba(224, 62, 82, 0.46);
  border-radius: 5px;
}

.text-question {
  margin: 0 0 0 30px;
}

/* results  */

.results {
  background: #ffb28d;
  padding-top: 30px;
}
.content-result {
  display: flex;
  justify-content: space-evenly;
}
.numbers {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.numbers .number:hover {
  box-shadow: 0 4px 10px rgba(10, 29, 48, 0.26);
}

.numbers .number {
  width: 45%;
  color: #fff;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 10px;
  padding: 40px 35px;
  margin-bottom: 20px;
}

.numbers .number h4 {
  color: #1d273b;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

.numbers .number p {
  color: #1d273b;
  font-weight: 300;
}

.results-text {
  width: 37%;
  color: #1d273b;
}

.results-text h4 {
  font-size: 40px;
}
.results-text p {
  margin: 20px 0;
  font-weight: 300;
}
.results-text a {
  text-decoration: none;
  display: inline-block;
  color: #1d273b;
  border: 1px solid #1d273b;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.results-text a:hover {
  box-shadow: 0 4px 10px rgba(10, 29, 48, 0.26);
  color: #fff;
  border: 1px solid #fff;
}

/* services */

.services {
  display: flex;
  justify-content: space-between;
}

.services img {
  width: 500px;
}

.box-skills {
  margin: 30px 30px 0 0;
}

.box-skills h4 {
  font-size: 24px;
  background: #f2f2f2;
  width: 350px;
  border-radius: 6px;
  padding: 10px 10px 0 15px;
  margin-bottom: 10px;
}

.box-skills i {
  color: #e03e52;
  margin-right: 10px;
  font-size: 20px;
}

/* footer  */

footer {
  background: #f2f2f2;
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.partFooter {
  text-align: center;
}

.partFooter h4 {
  color: #1d273b;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.partFooter img {
  width: 70%;
}

.partFooter a {
  display: block;
  text-decoration: none;
  color: #5d6678;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.partFooter a:hover {
  color: #e03e52;
}

.social-media i {
  font-size: 20px;
  display: inline-block;
  color: #5d6678;
  border: 1px solid #5d6678;
  width: 40px;
  height: 40px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  transition: all ease-in-out 0.3s;
  padding: 5px;
  cursor: pointer;
}

.social-media i:hover {
  color: white;
  background-color: #e03e52;
  border-color: #e03e52;
}

/* breakpoints responsive */

@media (max-width: 880px) {
  .title,
  .text-question h1 {
    font-size: 45px;
  }
  .content-header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 720px;
  }

  .content-header img {
    width: 400px;
  }

  .text-header {
    margin: 0;
  }

  .article {
    width: 45%;
  }

  .question {
    height: 720px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .question img {
    width: 400px;
  }

  .content-result {
    flex-direction: column-reverse;
  }

  .results-text a {
    margin-bottom: 60px;
  }
  .numbers,
  .results-text {
    width: 100%;
  }

  .services {
    flex-direction: column-reverse;
    align-items: center;
  }

  .box-skills {
    margin-bottom: 40px;
  }

  .box-skills h4 {
    width: 500px;
  }

  .services img {
    width: 400px;
  }

  footer {
    justify-content: space-evenly;
  }

  .partFooter {
    width: 40%;
    margin-bottom: 40px;
  }

  .social-media i {
    margin: 5px;
  }
}

@media (max-width: 600px) {
  .title,
  .content-header h1,
  .text-question h1 {
    font-size: 35px;
  }

  .content-header {
    height: 650px;
  }

  .content-header img {
    width: 350px;
  }

  .nav {
    padding: 0 10px;
  }

  .enlaces-header {
    position: fixed;
    background: #e1eec3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f05053,
      #e1eec3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f05053,
      #e1eec3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    clip-path: circle(0% at 100% 0);
  }

  .nav .menudos {
    -webkit-clip-path: circle(150% at 100% 0);
    clip-path: circle(150% at 100% 0);
  }

  .nav .enlaces-header a {
    color: #fff;
    
  }

  .hamburguer {
    display: block;
  }

  .article {
    width: 95%;
  }

  .question img {
    width: 350px;
  }
}

@media (max-width: 320px) {
  .question img,
  .content-header img,
  .services img {
    width: 200px;
  }
  .box-skills h4 {
    width: 100%;
    margin-left: 25px;
  }

  .numbers .number {
    width: 95%;
  }
}

@media (max-width: 426px) {
  .question img,
  .content-header img,
  .services img {
    width: 150px;
  }

  .box-skills h4 {
    width: 300px;
    margin-left: 30px;
  }

  .numbers .number {
    width: 95%;
  }

  footer {
    flex-direction: column;
  }

  .partFooter {
    width: 100%;
  }

  .social-media i {
    margin: 10px;
  }
}
